@tailwind base;
@tailwind components;
@tailwind utilities;

/*

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Consolas, Monaco, monospace;
}

a {
  text-decoration: none;
}

.layout {
  display: flex;
}

.sketch {
  margin: 1em;
  padding: 1em;
  border: 1px solid #222;
}

*/
